.Counter {
  background-color: white;
  width: 300px;
  height: 100px;
  color: black;
  position: absolute;
  border-radius: 16px;
  margin-top: 200px;
  margin-left: -90%;}

.count {
  margin: 10px;
  margin-left: 46%;
}

.actions {
  width: 100%;
  text-align: center;
}

.actionBtn{
margin: 10px;
}